body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-attachment: fixed;
  background-image: url('http://www.fleming.kyschools.us/userfiles/316/Clipart%20Images/math.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin:auto;
}
.calculator-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator-body{
  font-family: 'Roboto', sans-serif;
  box-shadow: 30px 30px 100px grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  border: 1px solid grey;
  background-color: grey;
  border-width: 1px;
  border-radius: 10px;
  top: 20%;
  left:35%;
  width: 450px;
  height: 620px;
  outline: none;
}

.calculator-valueDisplay{
  font-family: 'Roboto', sans-serif;
  background-color: grey;
  color: white;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  height: 90px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 3px;
  text-align: right;
  font-size: 70px;
  /*padding: 3px;*/
}

.calculator-button {
  outline: none;
  font-size: 150%;
  background-color: #f2f2f2;
  width: 112.51px;
  height: 104px;
  border: 0.01px solid grey;
}
.calculator-button:hover{
  background-color: #e6e6e6;
}
.calculator-button:active{
  background-color: #d9d9d9;
}
.calculator-button-clear {
  outline: none;
  font-size: 150%;
  background-color: #f2f2f2;
  width: 112.51px;
  height: 104px;
  border: 0.01px solid grey;
}
.calculator-button-clear:hover{
  background-color: #e6e6e6;
}
.calculator-button-clear:active{
  background-color: #d9d9d9;
}
.calculator-button-right {
  outline: none;
  background-color: orange;
  font-size: 120%;
  color: white;
  width: 112.5px;
  height: 104px;
  border: .5px solid grey;
  border-right: .5px solid grey;
}
.calculator-button-right:hover{
  background-color: #e68a00;
}
.calculator-button-right:active{
  background-color: #cc7a00;
}
.calculator-button-bottom-right{
  outline: none;
  text-align: center;
  font-size: 150%;
  background-color: #f2f2f2;
  width: 112.5px;
  height: 104px;
  border: 1.5px solid grey;
  border-bottom: .5px solid grey;
}
.calculator-button-bottom-right:hover{
  background-color: #e6e6e6;
}
.calculator-button-bottom-right:active{
  background-color: #d9d9d9;
}
.calculator-button-bottom-right-right{
  outline: none;
  text-align: center;
  font-size: 110%;
  color: white;
  background-color: orange;
  width: 112.5px;
  height: 104px;
  border: 1.5px solid grey;
  border-bottom: 1.5px solid grey;
  border-right: 1.5px solid grey;
  border-radius: 0px 0px 7px 0px;
}
.calculator-button-bottom-right-right:hover{
  background-color: #e68a00;
}
.calculator-button-bottom-right-right:active{
  background-color: #cc7a00;
}
.calculator-button-bottom-left{
  outline: none;
  text-align: center;
  font-size: 150%;
  background-color: #f2f2f2;
  width: 224.9px;
  height: 104px;
  border: 1.5px solid grey;
  border-bottom: .5px solid grey;
  border-radius: 0px 0px 0px 7px;
}
.calculator-button-bottom-left:hover{
  background-color: #e6e6e6;
}
.calculator-button-bottom-left:active{
  background-color: #d9d9d9;
}
